* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}
body {
  background: hsl(29, 94%, 27%);
  display: grid;
  grid-template-areas: 
    "barra-superior"
    "conteudo"
    "barra-inferior";
  gap: 40px 0;
} 
header {
  display: grid;
  grid-area: barra-superior;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: hsl(29, 94%, 20%);
  grid-template-rows: 40px;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a { color: antiquewhite; }
li {  margin: 10px; }
li:hover { background: black; }
main {
  display: grid;
  grid-area: conteudo;
  grid-template-columns: 1fr 1fr;
}
.imagem-principal img {
  width: 1200px;
  margin: 12px 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 10px
}
h1 { font-size: 50px; }
h1, h2 {
  color: wheat;
  margin: 8px;
}
h2 { font-style: italic; }
h3 { background-color: rgb(236, 183, 85); }
h3, p { margin: 18px; }
code {
  margin: 15px;
  padding: 10px 30px 10px 30px;
  background: black;
  color: rgb(255, 255, 255);
}
code i {
  color: hsl(120, 97%, 45%);
}
footer{
  grid-area: barra-inferior;
}